<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogeado') %>

    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

    <main>
       
        <section class="center main-content registrar editar">
            <h1 class="titles" >Nuevo post</h1>
            <form  method="post" enctype="multipart/form-data">
                    <label class="registro"> Subir achivo : </label> <input type="file" name="foto" value="" placeholder="Agregar imagen">
                     <p class="registro">Subir caption : </p> <input type="text" class="registro" name="caption" value="" >

                     <% if (locals.error) { %>
                      
                <p class="error registro" style="color:red"> <%= locals.errors.message %> </p>
                     <% } %>
                      <input type="submit" value="Enviar datos">
                    
                  </form> 
     
             </form> </section>
    </main>

    <%- include('./partials/footer') %>  

</body>

</html>