<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogeado') %>

    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

    <main>
        
        <div class="post-detail container">

            <section class="center main-content post" class="textoRegular" >
               
                <div class="info-usuario">
                    <img src="<%= mascotasDetalle.usuario.fotoPerfil%>" alt="" height="40px" width="40px">
                    <p><a href="/user/detalleUsuario/id/<%=mascotasDetalle.id_usuarios%>" ><%= mascotasDetalle.usuario.nombreUsuario %></a></p>
                    
                </div>

                <img class="photo" src="<%= mascotasDetalle.imagen %>" alt="" width="500px" height="600px">

                <% if (locals.user && user.id == mascotasDetalle.id_usuarios) { %>
                    
                    <form class="form" action="/posteos/detallePost/id/<%= mascotasDetalle.id %>/delete" method="POST">
                        <button type="submit" class="buy-now-button"><i class="fa-solid fa-trash"></i></button>
                    </form>
                
                    <a href="/posteos/editarPost/id/<%= mascotasDetalle.id %>"><i class="fa-solid fa-pencil"></i></a>
                   <% } %>
                
            </section>
            
            <!---->
            <section class="right coments" class="textoRegular">
                <h4  >Comentarios</h4><p class="textoRegular post-comentarios"> <%=mascotasDetalle.usuario.nombreUsuario%> : <%=mascotasDetalle.caption%>  </p>
 
                <section class="comments"  >
                    
                    <% for( let i = 0; i < mascotasDetalle.length; i++ ) { %>
                    
                        <% if (locals.user == undefined) { %>
                          <% res.redirect("/user/login") %> 
                        <% } else { %> 
            
                            <form action="/user/detallePost" method="post">
                                <a href="/user/detalleUsuario/id/<%=mascotasDetalle.usuario[i].id%>">
                                <p class="registro textoRegular post-comentarios">  <%= mascotasDetalle.comentario[i].autor %> : </p>
                                <input type="text" name="comentario" placeholder="Agregar comentario" value="<%= mascotasDetalle.comentario[i].comentario1 %> "></a>
                            </form>
                            <% } %> 
                        <% } %>
                       
                </section>
    

              <form action="" method="POST" class="comment-form">
                    <input type="text" class="input" placeholder="Agregar comentario" name="comentario">
                    <button type="submit"> Comentar </button> 
                </form>
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %> 
</body>

</html>