<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <% if (locals.user != undefined) { %>
            <%- include('./partials/headerLogeado') %>

        <% } else { %>
            <%- include('./partials/header') %>
        <% } %>

            <main>
                <div class="user-detail container">
                    <section class="top main-content" class="textoRegular">
                        <img class="profile" src="<%= detalle.fotoPerfil %>" alt="" height="100px" width="150px">
                        <div class="info-usuario">
                            <p>
                                <%= detalle.nombreUsuario %>
                            </p>
                            <a class="follow" href="">seguir</a>
                            <ul class="meta">
                                <li><%= detalle.post.length %> post</li>
                                <li><%= detalle.post.length %>  seguidores</li>
                                <li> <%= detalle.post.length %>  seguidos</li>
                            </ul>
                        </div>
                    </section>
                    <section class="bottom">
                        <% for( let i=0; i < detalle.post.length; i++ ) { %>
                            <article class="post">
                                <a href="/posteos/detallePost/id/<%=detalle.post[i].id %>">
                                    <img src="<%= detalle.post[i].imagen %>" alt="">
                                </a>
                                <p class="textoRegular post-comentarios"> <%= detalle.nombreUsuario %> : <%=detalle.post[i].caption%>  </p>
                                

                            </article>
                            <% } %>
                    </section>
                </div>
            </main>

            <%- include('./partials/footer') %>
    </body>

</html>