<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/header') %>

    <% } else { %>
        <%- include('./partials/headerLogeado') %>
    <% } %>

    <main>
        
        <div class="post-detail container">

            <section class="center main-content post" class="textoRegular" >

                <div class="info-usuario">
                    <img src="<%= mascotasDetalle.usuario.fotoPerfil%>" alt="" height="40px" width="40px">
                    <p><a href="/user/detalleUsuario/id/<%=mascotasDetalle.id_usuarios%>" ><%= mascotasDetalle.usuario.nombreUsuario %></a></p>
                </div>

                <img class="photo" src="<%= mascotasDetalle.imagen %>" alt="" width="500px" height="600px">
            </section>
            
            <!---->
            <section class="right" class="textoRegular">
                <h4  >Comentarios</h4><p class="textoRegular post-comentarios"> <%=mascotasDetalle.usuario.nombreUsuario%> : <%=mascotasDetalle.caption%>  </p>
 
                <section class="comments"  >
                    <form action="" class="comment-form">
                        <input type="text" class="input" placeholder="Agregar comentario">
                        <button type="submit"  >Comentar</button>

                    </form>
                    <div>
                    <% for( let i = 0; i < mascotasDetalle.length; i++ ) { %>

                        <article class="comment">
                            <a class="user" href="/user/detalleUsuario/id/<%= mascotasDetalle[i].usuario.id %> ">
                            <img src="<%= mascotasDetalle[i].usuario.fotoPerfil %>" alt="" height="40px" width="40px">

                            <section class="content">
                                <a href="/user/detalleUsuario/id/ <%= mascotasDetalle[i].usuario.id  %> "> <%= mascotasDetalle[i].usuario.nombreUsuario %> : </a>
                                
                                <span class="text">
                                    <%= mascotasDetalle.comentarios[i].comentario1 %>
                                </span>
                            </section>
                            </a>
                         </article>
                
                        <% } %>
                       
                    </div>
                </section>
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %> 
</body>

</html>