<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <% if (locals.user != undefined) { %>
            <%- include('./partials/header') %>

        <% } else { %>
            <%- include('./partials/headerLogeado') %>
        <% } %>

            <main>
                <div class="user-detail container">
                    <section class="top main-content" class="textoRegular">
                        <img class="profile" src="<%= detalle[0].fotoPerfil %>" alt="" height="100px" width="150px">
                        <div class="info-usuario">
                            <p>
                                <%= detalle[0].nombreUsuario %>
                            </p>
                            <a class="follow" href="">seguir</a>
                            <ul class="meta">
                                <li>2 post</li>
                                <li> 88 seguidores</li>
                                <li> 101 seguidos</li>
                            </ul>
                        </div>
                    </section>
                    <section class="bottom">
                        <% for( let i=0; i < detallePost.length; i++ ) { %>
                            <article class="post">
                                <a href="/posteos/postdetail/id/ <%=detallePost[i].id  %> ">
                                    <img src="<%= detallePost[i].imagen %>" alt="">
                                </a>

                            </article>
                            <% } %>

                    </section>
                </div>
            </main>

            <%- include('./partials/footer') %>
    </body>

</html>