<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>  

<body>
    <%- include('./partials/header') %> 

    <main>
        <div class="user-detail container">
            <section class="top main-content" class="textoRegular" >
                <img class="profile" src="<%= detalle[0].fotoPerfil %>" alt="" height="100px" width="100px">
                <div class="info-usuario">
                    <p > <%= detalle[0].nombreUsuario %> </p> 
                    <a class="follow" href="">seguir</a>
                    <ul class="meta">
                        <li>100 post</li>
                        <li><%= detalle[0].seguidores%> seguidores</li>
                        <li><%= detalle[0].seguidos%> seguidos</li>
                    </ul>
                </div>
            </section>
            <section class="bottom">
    <% for( let i = 0; i < detalleImagen.length; i++ ) { %>
        <article class="post">
                    <a href="/posteos/postdetail">
                        <img src="/detallePost/id/<%=detalleImagen[i].imagen %>" alt="">
                    </a>
                </article>
    
    <% } %>

                
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %> 
</body>

</html>

