<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/header') %>
    <% } else { %>
        <%- include('./partials/headerLogeado') %>
    <% } %>
    <!--enctype="multipart/form-data" -->
    <main>
        <section class="center main-content registrar editar">
            <h1 class="titles" >EDITAR POST</h1>
            <form action="" method="POST" >
                <div class="registro">

                    <p>Post actual : </p>
                    
                    <img class="photo" src="/images/posteos/<%= datos.imagen %>" alt="" width="200px" height="300px">
                <p>Caption actual  : <%= datos.caption %> </p>
                </div>
                 <div class="registro">
                     <label for="piefoto" >Nuevo pie del post : </label>
                    <input type="text" name="piefoto" id="piefoto" placeholder="Ingrese el pie del post"> 
                </div>
                 <button type="submit" class="button"> Subir post</button> 
     
            </form> 
        </section>
    </main>

    <%- include('./partials/footer') %>  

</body>

</html>