<!DOCTYPE html>
<html lang="en">


<%- include('./partials/head') %>

    <body>
        <% if (locals.user != undefined) { %>
            <%- include('./partials/header') %>

        <% } else { %>
            <%- include('./partials/headerLogeado') %>
        <% } %>

        

            <main>
                <section class="center main-content" class="textoRegular">
                    <img src="<%=mascotas.Post[i].imagen%>" alt="">
     <!--               <% for( let i=0; i < mascotas.length; i++ ) { %>
                        <article class="post">
                            <div class="info-usuario ">
                                <img src="<%= mascotas.Usuario[i].fotoPerfil%>" alt="" height="50px" width="50px">
                                <h4>
                                    <a href="/user/detailuser/id/<%=mascotas.Usuario[i].id%>" class="textoRegular">
                                        
                                        <%= mascotas.Usuario[i].nombreUsuario %>
                                    </a>
                                </h4>
                            </div>
                            <div class="post-body">
                                <a href="/posteos/postdetail/id/<%=mascotas.Usuario[i].id%>">
                                    <img src="<%=mascotas.Post[i].imagen%>" alt="">
                                </a>
                            </div>
                            <ul class="post-reacciones">
                                <li>
                                    <i class="fa-regular fa-heart"></i>
                                </li>
                                <li>
                                    <i class="fa-regular fa-comment"></i>
                                </li>
                            </ul>
                            <div class="post-comentarios">
                                <h4 class="textoRegular">Comentarios</h4>
                                <ul>


                                    <% for( let j=0; j < mascotas.Comentario[i].length; j++ ) { %>
                                        <li>
                                            <a href="/user/detailuser/id/<%=mascotas.Comentario[i]%>" class="textoRegular">
                                                <%= mascotas[i].Comentario[j].autor %> :
                                            </a>
                                            <span class="textoRegular">
                                                <%=mascotas[i].Comentario[j].comentario1 %>
                                            </span>
                                        </li>
                                        <% } %>

                                            <a href="/posteos/postdetail/id/ <%=mascotas.Post[i].id %> " class="textoRegular">Ver más...</a>
                                </ul>
                            </div>
                        </article>
                        <% } %>
-->

                </section>
            </main>

            <%- include('./partials/footer') %>

    </body>

</html>