<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>  

<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogeado') %>

    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

    <main>
        <section class="center main-content login">
        <h1 class="titles" >Login</h1>
        <form  method="post">
          
           <div class="registro">
             <label for="user"> Email: </label> <input type="email" name="email" id="email" class="inputLogin">
            </div>
            <% if (locals.error) {%> 
                <p class="error" style="color:red"> <%= locals. error.message %> </p>
                <% } %>    
           <div class="registro">
             <label for="user"> Contraseña: </label> <input type="password" name="password" id="password" >
            </div>
         
           <div class="input-container ic1">
            <input id="recordarme" class="recordarme" type="checkbox" name="rememberme" />
            <label class="recordarmeLabel" for="Recordarme">recordarme</label>
        </div>
            <button type="submit" class="button"> Login</button> 
        </form>
        </section>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>