<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogeado') %>

    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>
    
    <main>
        <div class="user-detail container">
        
            <section class="top main-content">
                <img class="profile" src="/images/fotoPerfil.jpeg" alt="" height="100px" width="110px" >
                <div class="info-usuario">
                    <p class="textoRegular" > <%= result.nombreUsuario %> </p> 
                    <a class="follow" href="/user/editarPerfil"><i class="fa-solid fa-user-gear"></i></a>
                    <ul class="meta">
                        <li class="textoRegular" > <%= result.post.length %> posteos </li>
                        <li class="textoRegular" > 88 seguidores</li>
                        <li class="textoRegular" > 102 seguidos</li>
                    </ul>
                </div>
            </section>
            <section class="bottom"> 
                <% for( let i=0; i < result.post.length; i++ ) { %>
                    <article class="post">
                        <a href="/posteos/detallePost/id/<%=result.post[i].id %>">
                            <img src="/images/posteos/<%= result.post[i].imagen %>" alt="">
                        </a>
                        <p class="textoRegular post-comentarios"> <%= result.nombreUsuario %> : <%=result.post[i].caption%>  </p>
                        

                    </article>
                    <% } %>
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>