<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <% if (locals.user != undefined) { %>
            <%- include('./partials/headerLogeado') %>

        <% } else { %>
            <%- include('./partials/header') %>
        <% } %>

            <main class="contenedor-form">

                <section class="center main-content registrar">
                    <h1 class="titles">Registrate</h1>
                    
                    <form action="" method="post">

                        <div class="registro"> <label for="user">Nombre de usuario: </label> <input type="text"
                                name="username" value="" placeholder="Ingrese su nombre de usuario"> </div>
                        
                            <!-- Validando -->
                        <% if (locals.errors) { %>
                         <p class="error" style="color:red"> <%= locals.errors.mensaje %> </p>
                        <% } %>
                        <div class="registro"> <label for="user">Email: </label> <input type="email"
                                    name="useremail" value="" placeholder="Ingrese su email" > </div>
                       

                        <div class="registro"> <label for="password">Contraseña: </label> <input type="password"
                                name="password" value="" placeholder="Ingrese su contraseña"> </div>

                        <div class="registro"> <label for="start">Dia de nacimiento :</label>

                            <input type="date" id="start" name="cumpleanios" value="0000-00-00" >
                        </div>

                        <div class="registro">
                            <input id="fotoPerfil" class="input" type="file" name="fotoPerfil"/>
                          </div>
                        <button type="submit" class="button"> Enviar </button>

                    </form>
                </section>
            </main>

            <%- include('./partials/footer') %>



    </body>

</html>