<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>  

<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/header') %>

    <% } else { %>
        <%- include('./partials/headerLogeado') %>
    <% } %>

    <main>

        <main>
            <section class="center main-content" class="textoRegular">

        <h1 class="titles" >Resultados de búsqueda.</h1>
                <% for( let i=0; i < detalle.length; i++ ) { %>
                    <article class="post">
                        <div class="info-usuario ">
                            <img src="<%= detalle[i].usuario.fotoPerfil%>" alt="" height="50px" width="50px">
                            <h4>
                                <a href="/user/detailuser/id/<%=detalle[i].usuario.id%>" class="textoRegular">
                                    
                                    <%=detalle[i].usuario.nombreUsuario%>
                                </a>
                            </h4>
                        </div>
                        <div class="post-body">
                            <a href="/posteos/postdetail/id/<%=detalle[i].id%>">
                              <img src="<%=detalle[i].imagen%>" alt="">
                            </a>
                        </div>
                        <ul class="post-reacciones">
                            <li>
                                <i class="fa-regular fa-heart"></i>
                            </li>
                            <li>
                                <i class="fa-regular fa-comment"></i>
                            </li>
                        </ul>
                        <div class="post-comentarios">
                            <h4 class="textoRegular">Comentarios</h4>
                            <ul>


                                <% for( let j=0; j < detalle[i].length; j++ ) { %>
                                    <li>
                                        <a href="/user/detailuser/id/<%=detalle[i].comentarios.comentario1%>" class="textoRegular">
                                            <%= detalle[i].comentarios.autor %> :
                                        </a>
                                        <span class="textoRegular">
                                            <%=detalle[i].comentarios.comentario1 %>
                                        </span>
                                    </li>
                                    <% } %>

                                        <a href="/posteos/postdetail/id/ <%=detalle[i].id %> " class="textoRegular">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <% } %>


            </section>
        </main>

        
    </main>
    <%- include('./partials/footer') %> 

</body>

</html>