<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>  

<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/header') %>

    <% } else { %>
        <%- include('./partials/headerLogeado') %>
    <% } %>

    <main>

        <main>
            <section class="center main-content" class="textoRegular">

        <h1 class="titles" >Resultados de búsqueda.</h1>
        <% if (resultados.length != 0 ) { %>
            <% for( let i=0; i < resultados.length; i++ ) { %>
                <article class="post">
                    <div class="info-usuario ">
                        <img src="<%= resultados[i].usuario.fotoPerfil%>" alt="" height="50px" width="50px">
                        <h4>
                            <a href="/user/detalleUsuario/id/<%=resultados[i].usuario.id%>" class="textoRegular">
                                
                                <%=resultados[i].usuario.nombreUsuario%>
                            </a>
                        </h4>
                    </div>
                    <div class="post-body">
                        <a href="/posteos/detallePost/id/<%=resultados[i].id%>">
                          <img src="<%=resultados[i].imagen%>" alt="">
                        </a>
                    </div>
                    <ul class="post-reacciones">
                        <li>
                            <i class="fa-regular fa-heart"></i>
                        </li>
                        <li>
                            <i class="fa-regular fa-comment"></i>
                        </li>
                    </ul>
                    <p class="textoRegular"> <%=resultados[i].caption%>  </p>
                    <div class="post-comentarios">
                        <h4 class="textoRegular">Comentarios</h4>
                        <ul>
                            <% for( let j=0; j < resultados[j].length; j++ ) { %>
                                
                                <li>
                                    <a href="/user/detalleUsuario/id/<%=resultados[j].Comentario.comentario1%>" class="textoRegular">
                                        <%= resultados[j].Comentario.autor %> :
                                    </a>
                                    <span class="textoRegular">
                                        <%=resultados[j].Comentario.comentario1 %>
                                    </span>
                                </li>
                                
                                
                                <% } %>

                                <a href="/posteos/detallePost/id/<%=resultados[i].id %> " class="textoRegular">Ver más...</a>
                        </ul>
                    </div>
                </article>
                <% } %>
                <% } else { %>
                    <h4 class="textoRegular"> No se encontraron resultados para tu busqueda </h4>
         
        <% } %>
        
                


            </section>
        </main>

        
    </main>
    <%- include('./partials/footer') %> 

</body>

</html>