<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>  

<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogeado') %>

    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

    <main>

        <main>
            <section class="center main-content" class="textoRegular">

        <h1 class="titles" >Resultados de búsqueda.</h1>
        <% if (resultados.length != 0 ) { %>
            <% for( let i=0; i < resultados.length; i++ ) { %>
                <article class="post">
                    <div class="info-usuario ">
                        <img src="/images/fotoPerfil.jpeg" alt="" height="50px" width="50px">
                        <h4> <a href="/user/detalleUsuario/id/ <%= resultados[i].id_usuarios%> "> Usuario</a> </h4>
                    </div>
                    <div class="post-body">
                        <a href="/posteos/detallePost/id/<%=resultados[i].id%>">
                          <img src="/images/posteos/<%=resultados[i].imagen%>" alt="">
                        </a>
                    </div>
                    <ul class="post-reacciones">
                        <li>
                            <i class="fa-regular fa-heart"></i>
                        </li>
                        <li>
                            <i class="fa-regular fa-comment"></i>
                        </li>
                    </ul>
                    <p class="textoRegular post-comentarios"> Caption: : <%=resultados[i].caption%>  </p>
                
                                <a href="/posteos/detallePost/id/<%=resultados[i].id %> " class="textoRegular post-comentarios">Ver más...</a>
                        </ul>
                    </div>
                </article>
                <% } %>
                <% } else { %>
                    <h4 class="textoRegular "> No se encontraron resultados para tu busqueda </h4>
         
        <% } %>
        
                


            </section>
        </main>

        
    </main>
    <%- include('./partials/footer') %> 

</body>

</html>